.ui-nav{
	position:fixed;
	top:0;
	left:0;
	z-index:10;
	width:100%;
	height:$navheight;
	line-height:$navheight;
	background-color: $white;
}
.ui-nav-left,.ui-nav-right{
	position:absolute;
	top:0;
	width:44px;
}
.ui-nav-left{
	left:$padding;
}
.ui-nav-right{
	right:$padding;
}
.ui-nav-center{
	font-size:$h3;
	text-align:center;
}