/***tab***/
.ui-car-name-list{
		display:flex;
		padding:0 30upx;
		background: $white;
		justify-content:space-between;
	}
	.ui-car-name-item{
		padding:20upx 0;
		font-size:17px;
		color:#999;
	}
	.ui-car-name-item.active{
		color:#FF5723;
		border-bottom: 2px solid #FF5723;
	}
	/* timeline */
	.uni-timeline {
			margin: 36upx 0;
			display: flex;
			flex-direction: column;
			position: relative;
		}
	.ui-order-timeline.uni-timeline{
		margin:18upx 0 0;
	}	
	
	
		.uni-timeline-item {
			display: flex;
			flex-direction: row;
			position: relative;
			padding-bottom: 20upx;
			box-sizing: border-box;
			overflow: hidden;
	
		}
	
		.uni-timeline-item .uni-timeline-item-keynode {
			width: 160upx;
			flex-shrink: 0;
			box-sizing: border-box;
			padding-right: 20upx;
			text-align: right;
			line-height: 65upx;
		}
	
		.uni-timeline-item .uni-timeline-item-divider {
			flex-shrink: 0;
			position: relative;
			width: 36upx;
			height: 36upx;
			top: 8upx;
			font-size:12px;
			color:$white;
			line-height: 36upx;
			text-align: center;
			border-radius: 50%;
			background-color: #bbb;
		}
		.ui-order-timeline .uni-timeline-item .uni-timeline-item-divider{
			width:12upx;
			height:12upx;
			top:14upx;
			line-height: 12upx;
		}
	
	
	
		.uni-timeline-item-divider::before,
		.uni-timeline-item-divider::after {
			position: absolute;
			left: 18upx;
			width: 1upx;
			height: 100vh;
			content: '';
			background:#ddd;
		}
		.ui-order-timeline .uni-timeline-item-divider::before,
		.ui-order-timeline .uni-timeline-item-divider::after{
			left:6upx;
		}
		.ui-order-timeline .uni-timeline-item-content .ui-address{
			padding-bottom: 10px;
			font-size:14px;
		}
	
		.uni-timeline-item-divider::before {
			bottom: 100%;
		}
	
		.uni-timeline-item-divider::after {
			top: 100%;
		}
	
	
		.uni-timeline-last-item .uni-timeline-item-divider:after {
			display: none;
		}
	
		.uni-timeline-first-item .uni-timeline-item-divider:before {
			display: none;
		}
	
		.uni-timeline-item .uni-timeline-item-content {
			flex:1;
			padding-left: 20upx;
		}
	
		.uni-timeline-last-item .bottom-border::after{
			display: none;
		}
		.uni-timeline-item-content .ui-address{
			padding-bottom:10upx;
			font-size:16px;
		}
		.uni-timeline-item-content .ui-subtext{
			font-size:14px;
			color: #aaa;
		}
		.ui-order-timeline .uni-timeline-item-content .ui-subtext{
			padding:10upx 0 16upx;
			font-size:12px;
			display:block;
			color: #aaa;
		}
	
	/**/
.ui-info-list{
	margin-top:20upx;
	padding:0 30upx;
	background: $white;
}
.ui-info-list-item{
	display:flex;
	font-size:14px;
	line-height: 80upx;
	padding:16upx 0;
}
.ui-info-list-item:first-child{
	line-height: 96upx;
}
.ui-info-list-item:first-child .ui-info-list-center{
	height:96upx;
}
.ui-info-list-left{
	color:$grey;
}
.ui-info-list-center{
	flex:1;
	text-align: right;
	align-items: center;
}
.ui-info-list-center input{
	display:block;
	font-size:14px;
	height:80upx;
	line-height: 80upx;
	color:$black;
}
.ui-info-list-right{
	padding-left:24upx;
	color:$mblack;
}
.ui-info-list-center>image{
	display:inline-block;
	width:96upx;
	height:96upx;
	border-radius: 100%;
}

.ui-tip{
	font-size:12px;
	color:$grey;
}

.ui-home-bottom{
	position:fixed;
	bottom:20upx;
	width:100%;
	padding:0 16upx;
	box-sizing: border-box;
}
.ui-home-price-container{
	display:flex;
	padding:20upx;
	background: #fff;
	align-items: center;
}
.ui-price-detail{
	padding:8upx 20upx;
	height:36upx;
	font-size:12px;
	line-height: 36upx;
	border:1upx solid $bordercolor;
	color:$maincolor;
	border-radius: 2px;
}
.ui-cost-price{
	flex:1;
	text-align: center;
	font-size:14px;
}
.ui-home-discount{
	font-size:12px;
}
.ui-home-discount>text{
	color:$maincolor;
}
.ui-price-now{
	font-size:28px;
}
.ui-origin-price{
	padding-left:20upx;
	text-decoration: line-through;
}
.ui-top-city-select{
	padding:0 30upx;
	color:$white;
	font-size:14px;
	line-height: 88upx;
	background: $dark;
}
.ui-top-city-select>text{
	padding-left:20upx;
	text-decoration: underline;
}
.ui-ts-title{
	padding:40upx 0 20upx;
	color:$maincolor;
}
	/* 自定义节点颜色 */
	.uni-timeline-first-item .uni-timeline-item-divider{
		background-color: $green;
	}
	.uni-timeline-last-item .uni-timeline-item-divider{
		background-color: $maincolor;
	}
		
	
	.ui-order-list-item{
		position:relative;
		margin:16upx;
		padding:20upx;
		font-size:14px;
		background: $white;
		border-radius: 2px;
	}
	.ui-order-list-item-top{
		padding-bottom:20upx;
	}
	.ui-order-list-cartype{
		display:inline-block;
		padding:4px 10px;
		margin-right:16px;
		font-size:12px;
		color:$white;
		border-radius:2px;
		background: $dark;
	}
	/*订单状态*/
	.ui-hujiao:after,.ui-daizhifu:after{
		position:absolute;
		top:0;
		right:20upx;
		display:inline-block;
		padding:4px 8px;
		font-size:12px;
		color:$white;
	}
	.ui-hujiao:after{
		content:"运送中";
		background: $green;
	}
	.ui-daizhifu:after{
		content:"待支付";
		background: $yellow;
	}
	.ui-order-cont {
		flex: 1;
	}
	
	.ui-order-price {
		font-weight: 600;
		text-align: right;
	}
	
	.ui-order-timeline-container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	
	.ui-order-timeline {
		flex: 1;
	}
	
	.ui-order-item-more {
		color: #ccc;
	}
	
	.ui-orderno-color {
		color: #FF5723;
	}
	
	.ui-cartype-color {
		color: #797979;
	}
	
	.ui-od-price-list {
		display: flex;
		line-height: 64upx;
	}
	/*订单详情*/
	.ui-orderdetail-cont{
		margin:16upx;
		padding:20upx;
		font-size:16px;
		background: $white;
	}
	.ui-orderdetail-top{
		display:flex;
		align-items: center;
	}
	.ui-od-portrait{
		margin-right:20upx;
		width:96upx;
		height:96upx;
		border-radius: 100%;
	}
	.ui-orderdetail-date{
		display:flex;
		font-size:14px;
		padding-bottom:20upx;
		flex-direction: row;
	}
	.ui-od-ordernumber{
		color:$grey;
	}
	.ui-od-date{
		flex:1;
	}
	.ui-od-info-item{
		display:flex;
		line-height: 72upx;
	}
	.ui-od-info-right{
		flex:1;
		text-align: right;
		color:$grey;
	}
	.ui-od-price-pay{
		color:$maincolor;
		font-size:18px;
		font-weight: 600;
	}
	.ui-od-price-type{
		flex:1;
	}
	.ui-orderdetail-cont .ui-od-price-list-b{
			display:flex;
			font-size:14px;
			line-height: 64upx;
			color:#666;
	}
	.ui-orderdetail-cont .ui-od-price-right{
		font-size:14px;
	}
	.ui-od-info-left{
		width:64px;
	}